In [2]:
import pyodbc
import pandas as pd
   
server = 'kb-gannet'
database = 'LEO_22989_EDEN'
driver = '{SQL Server}'

cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=kb-gannet;"
                      "Database=LEO_22989_EDEN;"
                      "Trusted_Connection=yes;")

# Retrieve data as Pandas DataFrame
sql_query = "SELECT * FROM vw_Antenatal_CallList_V2"
df = pd.read_sql(sql_query, cnxn)

# Print the DataFrame

df.to_csv('antinatal.csv',index=False)

Eden_sensization_Log=pd.read_csv('Eden_sensization_Log.csv')
Eden_sensization_Log=pd.DataFrame(Eden_sensization_Log)

source_wK=pd.read_csv('Eden_demography_data.csv')
source_wK=pd.DataFrame(source_wK)

antinatal=pd.read_csv('antinatal.csv')
antinatal=pd.DataFrame(antinatal)
#mergh data 
individual_sensitisation=pd.merge(antinatal,source_wK, on=['participant_id'], how='left')
individual_sensitisation.to_csv('antinatal.csv',index=False)

C:\Users\abliebah\AppData\Local\Temp\ipykernel_7224\2098689173.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, cnxn)

DatabaseError: Execution failed on sql 'SELECT * FROM vw_Antenatal_CallList_V2': ('42000', '[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Cannot process the object "SELECT * FROM redcap.redcap_data where project_id = 403". The OLE DB provider "MSDASQL" for linked server "MYSQL" indicates that either the object has no columns or the current user does not have permissions on that object. (7357) (SQLExecDirectW)')